body{
    background-color: lightgrey;
}

#contenedor-principal{
    padding-left: 1vh;
    padding-bottom: 2vh;
}

#contenedor-info{
    background-color: darkgrey;
    padding: 1vh;
}

#contenedor-productos{
    display: flex;
    place-content: center;
    flex-wrap: wrap;
    background-color: lightgreen;
}

img{
    width: 100px;
    height: 100px;
}

.productos{
    border: 2px solid whitesmoke;
    display: grid;
    width: 200px;
    place-content: center;
    place-items: center;
    padding: 2vh;
    margin: 1vh;
    background-color: lightgrey;
}