body{
    background-color: lightgrey;
    margin: 0;
}

#contenedor-principal{
    place-items: center;
    display: grid;
    height: fit-content;
    width: 100%;
    padding: 10px;
    padding-bottom: 2vh;
    color: black;
}

#contenedor-gerar-prod{
    display: grid;
    place-items: left;
    color: black;
}

.selc-prod{
    display: flex;
    place-items: center;
}

h1{
    margin: 0;
}

#contenedor-info{
    place-items: left;
    place-content: center;
    display: grid;
    background-color: rgb(92, 92, 92);
    padding: 2vh;
    color: whitesmoke;
}